@model Plugin.Monnify.ReserveAccountApi.CreateReserveAccountResponse

@{
    ViewData["Title"] = "CreateReserveAccount";
}

<table class="table table-responsive">
    <tr>
        <th>Account Reference</th>
        <td>@Model?.ResponseBody?.AccountReference</td>
    </tr>
    <tr>
        <th>Account Number</th>
        <td>@Model?.ResponseBody?.AccountNumber</td>
    </tr>
    <tr>
        <th>Account Name</th>
        <td>@Model?.ResponseBody?.AccountName</td>
    </tr>
    <tr>
        <th>Bank </th>
        <td>@Model?.ResponseBody?.BankName</td>
    </tr>
</table>
